body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0eded;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  .error {
    color: #d9534f; /* Red for error messages */
    font-size: 0.9em;
    margin-top: -8px;
    margin-bottom: 10px;
    display: block;
  }
  
  .form-container {
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-container h2 {
    color: #2348af;
    margin-bottom: 20px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button {
    width: 100%;
    background-color: #2348af;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .form-container p {
    margin-top: 15px;
  }
  
  .form-container a {
    color: #2348af;
    text-decoration: none;
  }
  
  .form-container a:hover {
    text-decoration: underline;
  }
  