body {
    font-family: Arial, sans-serif;
    background-color: #f0eded;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .payment-container {
    max-width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .payment-container h2 {
    color: #2348af;
    margin-bottom: 20px;
  }
  
  .payment-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
  }
  
  .payment-container input, .payment-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .payment-container button {
    width: 100%;
    background-color: #2348af;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  